name: Create Archive
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@master
    - name: Archive resolveurl
      uses: thedoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        filename: 'script.module.resolveurl.zip'
        directory: 'script.module.resolveurl'
        exclusions: '*.git*'
    - name: Archive resolveurl.xxx
      uses: thedoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        filename: 'script.module.resolveurl.xxx.zip'
        directory: 'script.module.resolveurl.xxx'
        exclusions: '*.git*'
    - name: Upload Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "script.module.resolveurl.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
